
/* Style the navbar */
.navbar {
    background-color: white !important; /* Set the background to white */
    color: #3B2F2F !important; /* Set the text color to #3B2F2F */
}

.navbar .navbar-brand {
    color: #3B2F2F !important; /* Set the brand text color */
    font-weight: bold;
}

.navbar .navbar-nav {
    margin-left: auto; /* Right justify the menu */
}

.navbar .nav-link {
    color: #3B2F2F !important; /* Set link text color to #3B2F2F */
    font-weight: normal;
}

.navbar .nav-link.active {
    font-weight: bold; /* Make the active link bolder */
}

.navbar .nav-link:hover {
    color: #5C4A4A !important; /* Slightly darker color on hover */
}


.logo-image img {
    width: 30px;
    height: 30px;
}